
vendor/**
logs/**
json/**
trash/**

data copy.json
data.json
log_low.txt
log_lessthan1.txt
log_autoflagged.txt
log_3.txt
log_2_5.txt
comments.txt
log_NATTY.txt
config.ini
comments_log.txt
chatAPI_cookies.json
nextRqPossibleAt
data/db.db
output.txt
comments2.txt
data/db.db
filter.txt
data/db.db
testapi.php
data/db.db.bak
data/oldDB.db
